head,
body {
    background-color: #121111;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: darkgreen;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #222229;
    z-index: 3;
    transition: 1s all;
    opacity: 1;
    visibility: visible;
}

.preloader h1 {
    color: #bebdbd;
    font-size: 1.5em;
    font-family: 'Offside';
    margin-top: 17%;
    margin-left: 27%;
}

.loader {
    display: block;
    width: 125px;
    height: 125px;
    top: 23%;
    left: 44%;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 50%;
    background: #fcc96b;
    background: rgb(252, 201, 107);
    background: linear-gradient(
      180deg,
      rgba(252, 201, 107, 1) 0%,
      rgba(252, 201, 107, 1) 15%,
      rgba(247, 174, 1, 1) 15%,
      rgba(247, 174, 1, 1) 19%,
      rgba(252, 201, 107, 1) 19%,
      rgba(252, 201, 107, 1) 22%,
      rgba(247, 174, 1, 1) 22%,
      rgba(247, 174, 1, 1) 28%,
      rgba(252, 201, 107, 1) 28%,
      rgba(252, 201, 107, 1) 31%,
      rgba(252, 201, 107, 1) 33%,
      rgba(252, 201, 107, 1) 36%,
      rgba(247, 174, 1, 1) 36%,
      rgba(247, 174, 1, 1) 48%,
      rgba(252, 201, 107, 1) 48%,
      rgba(252, 201, 107, 1) 55%,
      rgba(247, 174, 1, 1) 55%,
      rgba(247, 174, 1, 1) 66%,
      rgba(252, 201, 107, 1) 66%,
      rgba(252, 201, 107, 1) 70%,
      rgba(247, 174, 1, 1) 70%,
      rgba(247, 174, 1, 1) 73%,
      rgba(252, 201, 107, 1) 73%,
      rgba(252, 201, 107, 1) 82%,
      rgba(247, 174, 1, 1) 82%,
      rgba(247, 174, 1, 1) 86%,
      rgba(252, 201, 107, 1) 86%
    );
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.25),
      inset 8px -4px 6px rgba(199, 128, 0, 0.5),
      inset -8px 4px 8px rgba(255, 235, 199, 0.5),
      inset 20px -5px 12px #f7ae01,
      0 0 100px rgba(255, 255, 255, 0.35);
    transform: rotateZ(-15deg);
  }
  
  .loader::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 16px solid #7b6f42;
    border-top-width: 0;
    border-radius: 50%;
    box-shadow: 0 -2px 0 #b1a693;
    animation: rings1 0.8s infinite linear;
  }
  
  .loader::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 8px solid #b1a693;
    border-top-width: 0;
    border-radius: 50%;
    box-shadow: 0 -2px 0 #7b6f42;
    animation: rings2 0.8s infinite linear;
  }
  
  @keyframes rings1 {
    0% {
      transform: rotateX(65deg) rotateZ(0deg) scale(1.75);
    }
    100% {
      transform: rotateX(65deg) rotateZ(360deg) scale(1.75);
    }
  }
  
  @keyframes rings2 {
    0% {
      transform: rotateX(65deg) rotateZ(0deg) scale(1.7);
    }
    100% {
      transform: rotateX(65deg) rotateZ(360deg) scale(1.7);
    }
  }


.done {
    opacity: 0;
    visibility: hidden;
}

.slider_img {
    width: 90%;
    height: 85%;
    max-width: 100%;
}

.slider {
    max-width: 70%;
    max-height: 85%;
    overflow: hidden;
    margin-left: 18.5%;
    margin-top: 3%;
}

/*Старый слайдер*/
/*#slider {
    width: 980px;
    height: 500px;
    overflow: hidden;
    margin: 5vh 17%;
}

#images {
    width: 3920px;
    position: relative;
    left: 0;
    transition: all ease 1s;
    overflow: hidden;
}

#images img {
    width: 980px;
    height: 500px;
    float: left;
    overflow: hidden;
}

#images::after {
    content: "";
    display: block;
    clear: both;
}
*/

.top {
    background-color: #1d1a1a;
    width: 100%;
    height: 11vh;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.toptext {
    color: white;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    position: absolute;
    padding-left: 7.5%;
    margin-top: -9.3%;
}

.top img {
    width: 4.5vw;
    height: 7vh;
    padding-bottom: 6.6%;
}

.topimg {
    margin: 0;
    padding-top: 2vh;
    padding-left: 2vw;
}

.maintext {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: solid #817f7f;
    border-width: 0.01em;
    border-radius: 1.2em;
    margin-left: 30%;
    width: 60%;
    margin-top: 6.5%;
    
}

.maintext li {
    list-style-type: circle;
    margin-bottom: 1.5em;
    margin-left: 5%;
}

table img {
    max-width: 100%;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding-left: 20px;
    padding-right: 20px;
}
  
th {
    letter-spacing: 2px;
  }
  
td {
    letter-spacing: 1px;
}

tbody td {
    text-align: center;
}

tfoot th {
    text-align: right;
}

tbody td {
    background: rgba(0,0,0,0.1);
}

/* .maintext table {
    border-width: 1em;
    border-color: white;
} */

.maintext h1 {
    margin-left: 4%;
}

.img2 {
    width: 20vw;
    position: absolute;
    margin-left: 7em;
}

.mainimg {
    color: aliceblue;
    position: relative;
    margin-top: 5em;
}

.mtext {
    margin-top: 20.3em;
    margin-left: 7em;
    width: 20%;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}

.name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin: 0;
}

.mininick {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #817f7f;
    font-weight: 100;
    margin: 0;
}

.pronouns {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #e9e9e9;
    margin: 0;
    margin-top: 1em;
}

.podpis {
    margin-top: 0.2em;
    color: #bebdbd;
    font-family:'Courier New', Courier, monospace;
    font-size: 0.9em;
    font-weight: 100;
}

.mtext img {
    width: 6%;
    margin: 0;
}

.loct {
    font-size: 0.9em;
}

.linki {
    width: 6%;
    margin: 0;
}

.link {
    margin: 0;
}

.foothr {
    margin-top: 5%;
}

footer p {
    color: #bebdbd;
    margin-left: 1%;
}